$primary-color: #e63946;        // Rouge principal (titres, éléments forts)
$secondary-color: #f8b4b4;      // Rose doux (accents, fonds légers)

$primary-button: #e63946;       // Bouton principal rouge
$secondary-button: #ffffff;     // Bouton secondaire blanc

$background-color: #fff5f5;  // (optionnel si tu veux un fond global)

$background-two: #fde2e2;       // Fond rose très clair (sections)
$font-family: 'Playfair Display', serif;
